/* You can add global styles to this file, and also import other style files */
body {
    background-color: #1E2A3C;
    margin: 5px;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7FAFC;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}


html,
body {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}